div {
    border: 1px solid;
    background-color: azure;
}

h1 {
    border: 1px solid;
}

#txt {

    background-color: yellow;
    padding: 25px 25px;
    display: flex;
    justify-content: end;
}